/* 背景 */
body {
    background-image: url('/images/background-image-2.png');
    background-color: #f4f7f8;
    z-index: 0;
    overflow: hidden;
    background-color: #00a3af;
}

body::before {
    background-image: url('/images/background-image-2.png');
    background-color: #f4f7f8;
    content: '';
    opacity: 0.5;
    filter: blur(9px);
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}

/* 画面タイトル */
.cards + .ttl {
    color: indianred;
    font-family: 'Potta One', cursive;
    flex:none;
}

/* =======ナビゲーションバー======= */
.navbar {
    margin: 2rem 0 2.5rem 0;
}

.my-navbar {
    align-items: center;
    background: #333;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 2%;
}

.my-navbar-brand {
    font-size: 18px;
}

.my-navbar-brand,
.my-navbar-item {
    color: #8c8c8c;
    margin: 0 15px;
}

.my-navbar-brand:hover,
a.my-navbar-item:hover,
div.my-navbar-item:hover {
    color: #ffffff;
}

.my-navbar-control {
    display:flex;
    align-items:center;
}

/* メニューアイコン */
.navbar-menu {
    width:25px;
    margin:0 0 0 15px;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    white-space: nowrap;
    width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
    background-color: #fff;
}

.form-group {
    align-items: center;
}


/* =======サイドバー======= */
ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

#nav {
    position:absolute;
    right:-25%;
    width: 50%;
    height: 100vh;
    background: #000000ad;
    background-blend-mode:lighten;
    transition: .7s;
    z-index: 1;
}

#nav ul {
    padding-top: 80px;
}

#nav ul li {
    list-style-type: none;
    font-size: 20px;
}

#nav a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family:bold;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
}
#nav li a:hover{
    color: #ffffff;
    background: #cd5c5c;
    border-bottom: none;
}

.in{
    transform: translateX(100%);
  }


/* =======ユーザ登録======= */
.container {
    margin-top: 250px;
    margin-bottom: 15%;
}


/* =======画像投稿======= */
/* .upload_container {
    margin: 15px;
    width: 60%;
} */

/* .upload_container label[for="title_name"] {
    color:#f9f9f9;

} */

.upload_container .upload_btn {
    margin-top: 20px;
}

.upload_container .title_block {
    width: 60%;
    margin-top: -15%;
}


/* =======投稿画像一覧======= */
/* 投稿画像コンテンツ */
.cards {
    background-color: rgba(255,248,220,0.5);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    height: 95vh;

}

.cards .card {
    width: 25%;
    padding: 15px;
}

/* タブレット用 */
@media(max-width: 767px) {
    .cards .card {
       width: 50%;
       padding: 10px;
   }
}

/* スマホ用 */
@media(max-width: 479px) {
    .cards .card {
       width: 75%;
       padding: 10px;
   }
    .cards {
        width:auto;
        justify-content: center;
    }
}
.cards .card .card-img-top {
    width: 100%;
}

.cards .card .card-img-top::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.25%;
}

a.img-title {
    font-family: 'Potta One', cursive;
    color: black;
    font-size:20px;
}

/* =======マイページ======= */
